html{
    background-color: white;
}
div{
    background-color: white;
}
h1{
    color: lawngreen;
}
h3{
    color:aquamarine;
}
li{
    color:black;
    font-family: 'Times New Roman', Times, serif;
}